#the_header{
	background-color:navy;
	color:#fff;
}

.block{
	width:90%;
	margin:auto;
	overflow:hidden;
}

#navigation{
	background-color:#333;
	color:#fff;
}

#navigation ul{
	padding:0;
	list-style: none;
}


#navigation li{
	display:inline;
}

#navigation a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#background{
	width:600px;
	height:500px;
	border:1px solid #000;
	margin-top:100px;
	margin-left:72px;
	position:relative;
	background-image:url('relief.jpeg');
	opacity:0.6;
	background-repeat: no-repeat;
	background-position:100px 200px;
	background-position:center top;
}

#background h1{
	color:red;
	text-align: center;
	font-size:30px;
	line-height: 0.5em;
}
#background h2{
	color:black;
	font-size:30px;
	text-align: center;
	line-height: 2em;
	padding-top:160px;
}

#message{
	color: #606060;
}

.donate_block{
	text-align: center;
	color: #606060;
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;
	margin-top: 30px;
	overflow:hidden;
}

.donate_block h2{
	color: #606060;
	text-align:center;

}

.donate-form{
	padding:20px;
	color: #606060;
}

.donate-form .form-group{
	color: #606060;
	padding-bottom:15px;
}

.donate-form label{

	display:block;
}

.donate-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}
.center {
	width: 350;
	float: center;
}

.button{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.contact_block{
	text-align: center;
	color: #606060;
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;
	margin-top: 30px;
	overflow:hidden;
}

.contact_block h2{
	color: #606060;
	text-align:center;

}
#the_footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:10px;
	margin-top:20px;
}